@font-face {
    font-family: 'Optima'; /*a name to be used later*/
    src: url('../assets/Optima.ttf'); /*URL to font*/
}

::-webkit-scrollbar {
    width: 22px;
}
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 22px rgba(0, 0, 0, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

::-webkit-scrollbar-thumb:vertical {
    background: url('../assets/ui-scrollbar-thumb-top.png') left top no-repeat,
                url('../assets/ui-scrollbar-thumb-mid.png') left center no-repeat,
                url('../assets/ui-scrollbar-thumb-bot.png') left bottom no-repeat;
    background-size: 22px 10px, 22px calc(100% - 20px), 22px 10px;
}

body {
      overflow: hidden;
      background-color: dimgray;
      font-family: Optima;
      letter-spacing: -1px;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://i.imgur.com/vpsAUB4.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}




.flex-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  padding-bottom: 22px;


  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  background-image: linear-gradient(#96abe3, #1a329c);
  background-image: url("../assets/profile-banner.png"),
                    url("../assets/profile-bg.png");
  background-position: top, top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 68px, cover;
  width: 900px;
}





.flex-container > div {
  padding: 0px;
  font-size: 30px;
  margin: 4px 0px 4px 0px;

  opacity: 1;
}
#col-right, #col-left {
    margin: 2px 0px 4px 0px;
}



#col-left {
    z-index: 19999;
}
#col-left > div {
    display: flex;
    flex-flow: col nowrap;
    justify-content: center;
    align-items: stretch;

    margin: -10px 0px 32px -10px;
    width: 58px;
    height: 58px;

    background-image: url("../assets/button-side-base-blue.png");
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
    font-size: 15px;
    font-family: Arial Narrow;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    cursor: pointer;
}
#col-left > div span {
    margin: 36px 0px 0px -18px;
}
#col-left > div:first-child {
    background-image: url("../assets/button-side-close-short.png");
    margin-bottom: 76px;
    margin-left: -5px;
    width: 65px;
    height: 65px;
}
#col-left > div:first-child span {
    --text-shadow: rgba(40, 57, 106, 0.7);
    margin-top: 23px;
    margin-left: 10px;
    color: var(--text-shadow);
    font-size: 16px;
    letter-spacing: 0px;
    text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow), 1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
}




#col-mid {
    padding: 0;
    position: relative;
}
#col-mid > img {
    display: flex;
    width: 100%;
    max-height: 500px;
    object-fit: contain;

}
#pf-charagraph-base {
    position: absolute;
    z-index: 1;
    left: 0;

    object-fit: contain;
}
#pf-cardURL {
    position: absolute;
    z-index: 5;
    display: none;
}
#pf-charagraph-frame {
    position: absolute;
    z-index: 10;

    object-fit: contain;
}
#pf-charagraph-class {
    position: absolute;
    z-index: 20;
    width: 50px !important;

    bottom: 0;
    left: 42%;

}





#profile-name {
    height: 55px;
    color: white;
    padding-right: 30px;
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#pf-servantName {
    font-size: 40px;
    line-height: 35px;
}
#pf-servantClass {
    font-size: 15px;
    letter-spacing: -0.3px;
}


#profile-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

    height: 55px;
}
#profile-nav > div {
    background-image: url("../assets/button-profile-tab.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 4px 0px black;

    margin: 10px 11px 2px 13px;
    text-align: center;
    line-height: 44px;
    font-family: Tahoma;
    letter-spacing: 0px;
    font-size: 23px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    cursor: pointer;
}


#profile-content {
    height: 375px;
    overflow-y: auto;
    margin: 5px 0px 0px 10px;
    padding: 0 8px 0 4px;

    font-size: 21px;
}
#profile-content > div {
    display: none;
}
#profile-content > div.active {
    display: block;
}

.profile-content {
    position: relative;
}
.profile-content > img {
    display: flex;
    width: 100%;
    object-fit: contain;

    cursor: pointer;
}
.voice-text {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 497px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 100px;

    display: none;
}
.voice-text.active {
    display: block;
}




.np-title, 
.pskill-title,
.cskill-title,
.cc-title,
.profile-title,
.voice-title {
    font-family: Arial Narrow;
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: 600;
    color: #262626;
    margin: -21px 0 0 12px;
}
.panel-text {
    font-size: 16px;
    color: white;

    background-color: rgba(28, 28, 28, 0.87);
    margin: -15px 0 -0.2px 4px;
    padding: 25px 8px 5px 170px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    box-shadow: 0px 0px 3px 0px black;
}
.np-category {
    padding-right: 30px;
    color: gold;
}
.np-name {
    font-size: 23px;
    margin-bottom: 5px;
}
.np-table {
    font-size: 19px;
    letter-spacing: 0;
}
.np-text {
    margin-top: 8px;
    letter-spacing: -0.3px;
}
#pf-np-gaugetext {
    margin-left: 13px;
    font-size: 17px;
    letter-spacing: -2px;
}
.np-type {
    position: relative;
    padding: 0 5px;
}
.pf-np-bot {
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 30px;

    width: 24%;
    object-fit: contain;
}
.pf-np-servant {
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 6px;

    width: 27%;
    object-fit: contain;
}
.pf-np-mid {
    position: absolute;
    z-index: 10;
    left: 22px;
    top: 95px;


    width: 27%;
    object-fit: contain;
}
.pf-np-top {
    position: absolute;
    left: 20px;
    top: 115px;
    z-index: 20;

    width: 25%;
    object-fit: contain;
}
.pf-np-gauge {
    margin-right: -13px;
}



.panel-text.pskill-panel,
.panel-text.cskill-panel {
    padding: 5px 10px 5px 10px;
}
.pskill-tip,
.cskill-tip {
    color: teal;
    margin-top: 5px;
    font-size: 15px;
    padding-left: 120px;
}
.pskill-l,
.cskill-l {
    padding: 10px 10px 0 0;
    min-width: 50px;
    display: inline-block;
    vertical-align: top;
}
.pskill-num {
    color: steelblue;
    font-size: 15px;
}
.cskill-num {
    color: lightseagreen;
    font-size: 15px;
}
.pskill-cd {
    color: lightseagreen;
    font-size: 12px;
    margin-top: -10px;
}
.pskill-cd-num {
    text-align: right;
    font-size: 14px;
    margin-top: -10px;
}
.pskill-m,
.cskill-m {
    margin-left: -20px;
    width: 80px;
}
.pskill-m img,
.cskill-m img {

    width: 90%;
    object-fit: contain;
}
.pskill-r,
.cskill-r {

}
.pskill-name,
.cskill-name {
    font-size: 19px;
}
.pskill-description,
.cskill-description {
    font-size: 16px;
    margin-top: -20px;
}



.panel-text.cc {
    padding: 35px 8px 5px 8px;
    display: flex;
    align-items: stretch;
}
.cc-type {
    position: relative;
    padding: 0 5px;
}
.pf-cc-bot {
    position: relative;
    z-index: 1;

    width: 85%;
    object-fit: contain;
}
.pf-cc-servant {
    position: absolute;
    z-index: 5;
    left: 0px;
    top: -15px;

    width: 85%;
    object-fit: contain;
}
.pf-cc-mid {
    position: absolute;
    z-index: 10;
    left: -5px;
    top: 35px;


    width: 95%;
    object-fit: contain;
}
.pf-cc-top {
    position: absolute;
    left: 3px;
    bottom: 10px;
    z-index: 20;

    width: 82%;
    object-fit: contain;
}


.panel-text.profile-panel {
    padding: 22px 10px 5px 10px;
}
#param-table {
    width: 100%;
    font-size: 20px;
}
#param-table td:nth-child(1),
#param-table td:nth-child(4) {
  width: 10%;
  }

/* the second */
#param-table td:nth-child(2),
#param-table td:nth-child(5) {
  width: 30%;
}

/* the third */
#param-table td:nth-child(3),
#param-table td:nth-child(6) {
  width: 10%;
  padding-left: 10px;
 }

.pf-param-img {
    width: 100%;
}



.voice-img {
    margin-bottom: -4px;
    cursor: pointer;
}
.voice-title {
    margin-top: -66px;
}
.panel-text.voice-panel {
    padding: 22px 10px 3px 66px;
    margin-bottom: -7px;
    margin-top: -16px;
    font-size: 23px;
}
.panel-img {
    width: 100%;
}
.voice-text {
    z-index: 39999;
    padding-top: 25px;
    font-size: 25px;
}



#profile-content-gallery {
    position: relative;
}
#pf-gallery-img-wrapper {
    position: absolute;
    left: 10px;
    top: 20px;
}
#pf-gallery-img {
    width: 390px;
    height: 345px;
    object-fit: contain;
}
#pf-gallery-nav {
    position: absolute;
    width: 140px;
    margin-top: 20px;
    right: -5px;
    bottom: -300px;
}
#pf-gallery-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#pf-gallery-nav ul li {
    height: 50px;
    background-image: url("../assets/button-gallery.png");
    background-repeat: no-repeat;
    backgroun-size: cover;
}
#pf-gallery-nav ul li a {
    display: block;
    padding-top: 13px;

    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
