html, body {
  display: block;
  height: 100%;
}
label {
    display: inline-block;
    width: 5em;
}
pre {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
}
textarea {
  width: calc(100% - 6em);;
}

/*
 * Scroll Bar & resizer (textarea)
 */
 ::-webkit-resizer {
  background-color: rgba(1,1,1,0);

}
/* width */
::-webkit-scrollbar {
    width: 17px;
}
/* track */
::-webkit-scrollbar-track {
    background: none;
}
/* handle */
::-webkit-scrollbar-thumb {
    background: rgba(85,85,85,0.5);
    border: 2px solid #f4f7fa;
    border: none;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.ui-widget .ui-tabs-panel {
  font-size: 11pt!important;
}

#settingsTabWrapperLeft {
  position: fixed;
  right: 50%;
  bottom: 0;
}

#hideMenu, #showMenu {
  background-color: cadetblue;
  color: white;
}

.hideMenu {
  display: none;
}
.showMenu {
  display: block;
}

#settingsTab {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 999;
}

#sheetForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
#sheetRef {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.infoHubTabWrapper {
  display: flex;
  flex-flow: row;
}

.infoHubTabWrapper div:nth-of-type(1) {
  flex-basis: 0;
  flex-grow: 1;
}

.infoHubTabWrapper div:nth-of-type(2) {
  flex-basis: 0;
  flex-grow: 2;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.infoHubTabWrapper div:nth-of-type(1) div:nth-of-type(2) table{
  display: block;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.accordionWrapper {
  height: calc(100vh - 240px);
}


#infoHubFGOMatWrapper {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 120px);
}

#infoHubFGOMatPageWrapper {
  flex-basis: 0;
  flex-grow: 2;
  overflow-y: auto;
}

#infoHubFGOMatDexWrapper {
  flex-basis: 0;
  flex-grow: 1;
  overflow-y: auto;
}


.col-2 {
  display: flex;
  flex-flow: row;
}

.col-2 div {
  flex-basis: 0;
  flex-grow: 1;
}


/*
 * Text Editors
 */
.trumbowyg-editor p {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-size: 11pt;
  font-family: Arial, sans-serif;
}

#personality.trumbowyg-editor,
#backstory.trumbowyg-editor,
#otherInfo.trumbowyg-editor,
#description.trumbowyg-editor,
#weapon.trumbowyg-editor { 
  min-height: calc(100vh - 220px)!important; 
}


#cSkill1Description.trumbowyg-editor,
#cSkill2Description.trumbowyg-editor,
#cSkill3Description.trumbowyg-editor { 
  min-height: calc(100vh - 286px)!important; 
}

#pSkill1Description.trumbowyg-editor,
#pSkill2Description.trumbowyg-editor,
#pSkill3Description.trumbowyg-editor,
#pSkill1Example.trumbowyg-editor,
#pSkill2Example.trumbowyg-editor,
#pSkill3Example.trumbowyg-editor { 
  min-height: calc((100vh - 344px) / 2)!important; 
}


#np1Description.trumbowyg-editor,
#np2Description.trumbowyg-editor,
#np1Effect.trumbowyg-editor,
#np2Effect.trumbowyg-editor { 
  min-height: calc((100vh - 368px) / 2)!important; 
}


/*
 * DARK MODE
 */
button.darkMode,
input.darkMode,
textarea.darkMode,
select.darkMode,
select option.darkMode {
  color: #dddddd;
  background-color: black;
  background: black;
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
}

label.darkMode {
  color: #aaaaaa;
}

pre.darkMode {
  color: #dddddd;
  background-color: black;
  background: black;
}

#tabsDetailedInfo .ui-state-active.darkMode,
#tabsExtraInfo .ui-state-active.darkMode,
#tabsNP .ui-state-active.darkMode,
#tabsCSkill .ui-state-active.darkMode,
#tabsPSkill .ui-state-active.darkMode {
  background: #45535f;
  border: 1px solid #45535f;
  border-bottom-width: 0;
}
#tabsDetailedInfo .ui-state-active a.darkMode,
#tabsExtraInfo .ui-state-active a.darkMode,
#tabsNP .ui-state-active a.darkMode,
#tabsCSkill .ui-state-active a.darkMode,
#tabsPSkill .ui-state-active a.darkMode {
  color: auto;
}

.infoHubCSWiki col:nth-child(even) {background-color: #f2f2f2;}
.infoHubCSWiki col:nth-child(odd) {background-color: #f3f3f3;}

.infoHubPSWiki col:nth-child(even) {background-color: #f2f2f2;}
.infoHubPSWiki col:nth-child(odd) {background-color: #f3f3f3;}