html, body {
  display: block;
  height: 100%;
}
#createDocWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#sheetForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
#sheetRef {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.infoHubTabWrapper {
  display: flex;
  flex-flow: row;
}

.infoHubTabWrapper div:nth-of-type(1) {
  flex-basis: 0;
  flex-grow: 1;
}

.infoHubTabWrapper div:nth-of-type(2) {
  flex-basis: 0;
  flex-grow: 2;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.infoHubTabWrapper div:nth-of-type(1) div:nth-of-type(2) table{
  display: block;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.accordionWrapper {
  height: calc(100vh - 240px);
}


#infoHubFGOMatWrapper {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 120px);
}

#infoHubFGOMatPageWrapper {
  flex-basis: 0;
  flex-grow: 2;
  overflow-y: auto;
}

#infoHubFGOMatDexWrapper {
  flex-basis: 0;
  flex-grow: 1;
  overflow-y: auto;
}

/*
#infoHubWikiInfoBoxHeader,
#infoHubServantDataCompareHeader,
#infoHubHeader,
#infoHubServantIndexHeader,
#infoHubServantPageHeader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


.infoHubWikiBoxHeader,
.infoHubWikiPageHeader,
.infoHubHWHeader,
.infoHubRegionHeader,
.infoHubAlignHeader,
.infoHubParamHeader,
.infoHubCSHeader,
.infoHubPSHeader,
.infoHubFGOMatDexHeader,
.infoHubFGOMatPageHeader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.infoHubWikiBoxWrapper,
.infoHubWikiPageWrapper,
.infoHubHWWrapper,
.infoHubRegionWrapper,
.infoHubAlignWrapper,
.infoHubParamWrapper,
.infoHubCSWrapper,
.infoHubPSWrapper,
.infoHubFGOMatDexWrapper,
.infoHubFGOMatPageWrapper {
  position: absolute;
  overflow-y: scroll;
}

.infoHubWikiBoxHeader {
  
}

*/

/*
.infoHubWikiInfoBoxWrapper {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 350px;
    height: 50%;
    overflow-y: scroll;
}

.infoHubServantDataCompareWrapper {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 350px;
    height: 50%;
    overflow-y: scroll;
}

.infoHubWrapper {
    position: absolute;
    top: 0%;
    right: 350px;
    width: 700px;
    height: 100%;
    overflow-y: scroll;
}


.infoHubServant {
  position: fixed;
  top: 0%;
  right: 1080px;
}

.infoHubServantIndexWrapper {
  position: absolute;
  top: 1%;
  right: 1050px;
  width: 200px;
  height: 100%;
  overflow-y: scroll;
}
.infoHubServantPageWrapper {
  position: absolute;
  top: 0%;
  right: 350px;
  width: 700px;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  display: none;
}

.active {
  display: block;
}
*/