#previewWrapper {
    /* account for scroll bar - 17 extra px*/
    width: 837px!important;
    height: calc(100vh - 100px);
    font-family: arial;
    font-size: 11pt;
    overflow-y: scroll;
    margin: auto;
    background-color: white;
    color: black;
}
.preview.banner {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: black;   
    color: white;
    font-weight: 400;
    font-size: 26pt;
}
.preview.categoryBreak {
    margin-top: 20px;
}
.preview.infoHeader {
    font-weight: bold;
}


#previewdisclaimer {
    margin-bottom: 20px;
    font-size: 10pt;
}

.preview.content {
    padding-left: 97px;
    padding-right: 97px;
}





#previewtop {
    display: flex;
    flex-flow: row;
}

#previewtopLeft {
    flex-basis: 0;
    flex-grow: 2;
    padding: 0 8px;
}
.preview.infoHeader.personality {
    text-align: center;
}
#previewtopLeftTop {
    min-height: 300px;
}



#previewinfoBox {
    flex-basis: 0;
    flex-grow: 1;

    text-align: center;
    font-size: 9pt;
}
#previewinfoBox table {
    width: 240px;
    border-collapse: separate;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}

#previewinfoBox td {
    border: none;
}
#previewsideName {
    font-size: 11pt;
}



#previewtableOfContents {
    width: 220px;
    border-collapse: separate;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    font-size: 10pt;
    color: dodgerblue;
}
#previewtableOfContents .infoHeader {
    color: black;
    text-align: center;
    padding: 10px 0 0 0;
}
#previewWrapper ol {
    counter-reset: item;
}
#previewWrapper li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}


#previewbackstory,
#previewotherInfo,
#previewdescription,
#previewweapon {
    padding: 0 50px;
}






.preview.tableContent {
    margin-left: 50px;
}

.preview.tableContent table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.preview.tableContent table tr {
    height: 1em;
}
.preview.tableContent table tr td:nth-of-type(2) {
    padding-left: 12px;
}
.preview.tableContent table td {
    height: 1em;
    padding: 9px 0;
}
.preview.tableContent .infoHeader {
    width: 104px;
    text-align: right;
}
.preview.infoHeader.pskillExample {
    width: 100%;
    text-align: left;
}


#previewnp1Name,
#previewnp2Name,
#previewnp1Chant,
#previewnp2Chant,
#previewcSkill1Name,
#previewcSkill2Name,
#previewcSkill3Name,
#previewpSkill1Name,
#previewpSkill2Name,
#previewpSkill3Name {
    height: 1em;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 9px 0 4px 0;
    text-align: center;
}

#previewnp1Chant,
#previewnp2Chant {
    padding: 5px 0 2px 0;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;

}

