#wikiWrapper {
    position:  relative;
    width: 905px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    font-family: arial;
}
#wikiLeft {
    width: 150px;
    height: 100%;
    background-color: #f6f6f6;
    float: left;
}
#wikiLeftTitle {
    font-family: EB Garamond;
    font-size: 22px;
}
#wikiLeft label {
    font-size: 18px;
}
#wikiLeft hr {
    margin: 7px 15px 12px 15px;
}
#wikiLeft p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
}




#previewWrapper {
    /* account for scroll bar - 17 extra px*/
    float: left;
    width: 737px!important;
    font-family: arial;
    font-size: 11pt;
    margin: auto;
    background-color: white;
    color: black;
    line-height: 1.3;
}
#previewWrapper td {
    vertical-align: top;
}
#previewWrapper p {
    padding: 0;
    margin: 0;
}



.preview.banner {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 22pt;

    background-color: black;   
    color: white;
    font-weight: 400;
    font-size: 26pt;
}
.preview.categoryBreak {
    margin-top: 30px;
}
.preview.infoHeader {
    font-weight: bold;
}


#previewdisclaimer {
    margin-bottom: 20px;
    padding-top: 2pt;
    font-size: 10pt;
}

.preview.content {
    padding-left: 97px;
    padding-right: 97px;
}





#previewtop {
    display: flex;
    flex-flow: row;
}

#previewtopLeft {
    flex-basis: 0;
    flex-grow: 2;
    padding: 0 8px;
}
.preview.infoHeader.personality {
    padding-bottom: 7pt;
    text-align: center;
}
#previewtopLeftTop {
    min-height: 300px;
}
#previewtopLeftBot {
    padding-top: 11pt;
}




#previewinfoBox {
    flex-basis: 0;
    flex-grow: 1;

    text-align: center;
    font-size: 9pt;
}
#previewinfoBox table {
    width: 240px;
    margin-top: 18pt;
    padding: 5px 2px 10px 2px;

    border-collapse: separate;
    border: 1px solid #bbbbbb;
    background-color: #f5f5f5;
}
#previewinfoBox td {
    border: none;
    padding-top: 5pt;
}
#previewinfoBox .infoHeader.left,
#previewinfoBox .infoContent.right {
    text-align: left;
}
#previewinfoBox .infoContent.right {
    padding-left: 11pt;
}
#previewsideName {
    padding-top: 0!important;
    font-size: 11pt;
    font-weight: bold;
}
#previewsidePic {
    padding-top: 2pt!important;
}
#previewsidePic img{
    width: 100%;
}









#previewtableOfContents {
    width: 220px;
    border-collapse: separate;
    border: 1px solid #bbbbbb;
    background-color: #f5f5f5;
    font-size: 10pt;
    color: #1155cc;
}
#previewtableOfContents .infoHeader {
    color: black;
    text-align: center;
    padding: 10px 0 0 0;
}
#previewWrapper ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 14pt;
}
#previewWrapper li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  padding-right: 11pt;
  color: black;
}
#previewWrapper li {
    padding: 4pt 0 0 0;
}



#previewbackstory,
#previewotherInfo,
#previewdescription,
#previewweapon {
    padding: 0 50px;
}






.preview.tableContent {
    margin-left: 50px;
}

.preview.tableContent table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.preview.tableContent table tr {
    height: 1em;
}
.preview.tableContent table tr td:nth-of-type(2) {
    padding-left: 12px;
}
.preview.tableContent table td {
    height: 1em;
    padding: 9px 0;
}
.preview.tableContent .infoHeader {
    width: 104px;
    text-align: right;
}
.preview.infoHeader.pskillExample {
    width: 100%;
    text-align: left;
}


#previewnp1Name,
#previewnp2Name,
#previewnp1Chant,
#previewnp2Chant,
#previewcSkill1Name,
#previewcSkill2Name,
#previewcSkill3Name,
#previewpSkill1Name,
#previewpSkill2Name,
#previewpSkill3Name {
    height: 1em;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 9px 0 4px 0;
    text-align: center;
}

#previewnp1Chant,
#previewnp2Chant {
    padding: 5px 0 2px 0;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;

}

#previewnp1Description,
#previewnp1Effect,
#previewnp2Description,
#previewnp2Effect,

#previewcSkill1Description,
#previewcSkill2Description,
#previewcSkill3Description,

#previewpSkill1Description,
#previewpSkill1Example,
#previewpSkill2Description,
#previewpSkill2Example,
#previewpSkill3Description,
#previewpSkill3Example {
    padding-right: 5px!important;
}