.infoHubWikiInfoBox {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 350px;
    height: 50%;
    overflow-y: scroll;
}

.infoHubServantDataCompare {
    position: fixed;
    top: 50%;
    right: 0%;
    width: 350px;
    height: 50%;
    overflow-y: scroll;
}

.infoHub {
    position: fixed;
    top: 0%;
    right: 350px;
    width: 700px;
    height: 100%;
    overflow-y: scroll;
}


.infoHubServant {
  position: fixed;
  top: 0%;
  right: 1080px;
}

.infoHubServantIndex {
  position: fixed;
  top: 1%;
  right: 1050px;
  width: 200px;
  height: 100%;
  overflow-y: scroll;
}
.infoHubServantPage {
  position: fixed;
  top: 0%;
  right: 350px;
  width: 700px;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  display: none;
}

.active {
  display: block;
}