html {
    height: 100%;
    background: #1a1a1a;
    color: #3c4043;
    font-family: "Roboto", Helvetica, sans-serif; }
body {
    overflow-y: hidden;
    height: 100%;
}



.info-panel-right {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
}
#district-img-wrapper {
    background-size: cover;
}
#district-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}




.info-panel-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 408px;

    background: white;
    white-space: normal;
    text-align: left;  
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}
.info-panel-left.show {
    visibility: visible;
    opacity: 1;
}
#info-panel-img {
    display: block;
    width: 100%;
    height: 240px;
    cursor: pointer;
    object-fit: cover;
}
#info-panel-name {
    padding: 16px 24px 4px 24px;
    font-size: 1.375rem;
}
#info-panel-sub-name {
    padding: 0px 24px 16px 24px;
    font-size: 14px;
}
#info-panel-quick-facts {
    padding: 18px 24px 0px 24px;
    font-size: 1rem;
    font-weight: 500;
}
#info-panel-desc {
    padding: 16px 24px;
    font-size: 0.875rem;
}



.horizontal-line {
    border-bottom: 1px solid #e8eaed;
    display: block;
}

.menu{
    text-align: center;
}
.map-panel {
    display: block;
    width: 100%;
    height: 100%;
}

#svg-object {
    display: block;
    margin: auto;
}