body {
    overflow-y: hidden;
}



.info-panel-right {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
}
.label {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
.normal-text {
    margin: 10px;
    text-align: justify;
    font-size: 14px;
}
#district-img-wrapper {
    background-size: cover;
}
#district-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}




.info-panel-left {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 200px;  
}
#loc-img-wrapper {
    background-size: cover;
}
#loc-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}




.map-panel {
    width: 100%;
    height: 100%;
}

#svg-object {
    display: block;
    margin: auto;
}