/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ddb97e;
}

*::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 0px;
  border: 3px solid #ddb97e;
}


.bg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}


/* Overall wrapper size for non-mobile */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: purple;

}

.wrapper-div {
  height: 100%;
  width: 100vw;
}


.raitrack {
  /* width: 640px; */
  width: 100%;
  max-width: 750px;
  /*min-height: 683px;*/
  height: 100%;
  background-color: #222222;
  font: 12px verdana;
  box-shadow: 0px 5px 5px 0px #222222;
  border-radius: 5px;

  z-index: 10;
  position: relative;

}

.raitracktop {
  height: 25%;
  position: relative;
}

.raitrackcont {
  background-color: #222222;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 68%;
}

.raitrackcontactive {
  margin-top: -180px;
}

/*
.raitrackcont:hover {
  margin-top: -50px;
}
*/

.raitrackcategory {
  height: 51px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #ddb97e;
}

/*
.raitrackcategory:hover {
  height: 400px;
}
*/
.raitrackcategoryactive {
  /* height: 450px; */
  height: 90%;
}

.raitrackcategoryhidden {
  height: 51px;
}

.raitrackmenu {
  position: relative;
  padding-top: 15px;
  height: 35px;
  background-color: #ddb97e;
  color: #222222;
  font: 19px Montserrat;
  box-shadow: 0px -3px 6px 0px #222222;
}

.raitrackmenuactive {
  height: 35px;
}

.raitrackcont2 {
  margin: 0 10px 0 10px;
  padding: 7px 15px 7px 15px;
  height: 90%;
  /* height: 386px; */
  border-left: 1px dashed #222222;
  border-right: 1px dashed #222222;
  background-color: #ddb97e;
  color: #222222;
  text-align: left;
  overflow: auto;
}

.raitrack a {
  color: #222222;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.raitrack a:hover {
  color: #635238;
}

.raitrack h2 {
  margin-top: 2px;
  font: 13px verdana;
  text-align: justify;
}

.sitetitle {
  margin-top: 2px;
  font: 20px verdana;
  text-align: justify;
  color: #ddb97e;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  
}

.subtitle {
  color: #222222;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.raitrackcategory img.titlepic {
  float: left;
  margin-right: 10px;
  width: 4%;
  border-radius: 50%;
  padding: 1px;
  border: 1px dashed black;
  /*background-color: #ddb97e;*/
  background-color: #ddb97e;
}

.raitrackcategory img.subtitlepic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 5%;
  border-radius: 50%;
  padding: 1px;
  /*background-color: #ddb97e;*/
  background-color: #ddb97e;
}

.raitrackrelation1 {
  border-bottom: 1px solid black;
  margin-top: 10px;
  text-align: left;

  color: #222222;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.raitrackrelation2 {
  /*margin: 5px 10px 0 55px;*/
  margin-left: 5%;
  margin-right: 2%;
  text-align: justify;
}

.raitrackbot {
  /* height: 229px;*/
  height: 7%;
  border-top: 0px solid #ddb97e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.raitrackbotactive {
  height: 30px;
}
